[Unit]
Description=TinBoker Development Backend
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/app/backend
ExecStart=/usr/bin/docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.yml -f docker-compose.dev.yml down
ExecReload=/usr/bin/docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d --force-recreate

[Install]
WantedBy=multi-user.target
